body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    /* Background color similar to mockup */
}

header {
    background-color: #212529;
    /* Header background color */
    color: white;
    padding: 20px;
}

/* Existing styles */
.chat-room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
}

html, body {
    height: 100%;
    margin: 0;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#username-display {
    margin-top: 10px; /* Spacing from the elements above */
}


.message-container {
    border: 4px solid #212529;
    /* NES.css-like border */
    background-color: #fff;
    /* Background color for the message area */
    height: 500px;
    /* Fixed height for the message container */
    overflow-y: auto;
    /* Make it scrollable */
    padding: 1rem;
    margin-bottom: 1rem;
}
/* Responsive Styles for devices that are not very high (tablet 90°) */
@media (max-height: 1200px) {
    .chat-room {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .message-container {
        height: 400px;
    }

    .logo {
        width: 75px;
    }

}

/* Responsive Styles for devices that are not very high (tablet 90°) */
@media (max-height: 1000px) {
    .chat-room {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .message-container {
        height: 300px;
    }

    .logo {
        width: 50px;
    }

}

/* Responsive styles for smaller devices */
@media (max-width: 600px) {
    .chat-room {
        position: static; /* Use static positioning for smaller screens */
        transform: none; /* No need to translate, as it will fill the screen */
        width: 100%; /* Full width */
        max-width: none; /* No maximum width */
        height: 100%; /* Full height */
    }

    .message-container {
        height: 75%; /* Full height */
    }

    /* Adjust the logo size if needed */
    .logo {
        display: none;
    }

    /* Adjust the font sizes for smaller screens */

    #heading {
        font-size: 1rem;
        margin-top: 0.1rem;
    }

    #user-count {
        font-size: 0.75rem;
    }

    #username-display {
        font-size: 0.75rem;
    }

    /* max height for message container */
    .message-container {
        max-height: 500px;
    }

    .nes-container {
        padding: 1rem;
        border-width: 2px;
    }


}


.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

/* Message wrapper for the user */
.message-user {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-end; /* Align children to the end of the cross axis */
}

/* Text bubble for messages from the user */
.message-user .nes-balloon {
    background-color: #6594f5; /* Blue bubble for the user */
    color: white;
    align-self: flex-end; /* Align the text bubble to the end */
}

/* Message wrapper for others */
.message-other {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align children to the start of the cross axis */
}

/* Username label for messages from others */
.message-other .sender-username {
    align-self: flex-start; /* Align the username to the start */
    margin-bottom: 4px; /* Space between the username and the text bubble */
}

/* Text bubble for messages from others */
.message-other .nes-balloon {
    background-color: #f4f4f4; /* Light grey balloon for others */
    align-self: flex-start; /* Align the text bubble to the start */
}


/* Common styles for all messages */
.message .nes-balloon {
    max-width: 70%;
    word-wrap: break-word;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
}


.nes-field.is-inline {
    display: flex;
    align-items: center;
}

.nes-field.is-inline .nes-input {
    flex-grow: 1;
}


.sender-username {
    color: #333;
    font-size: 0.75rem;
    margin-bottom: 0.2rem;
}

.message-other .sender-username {
    margin-left: 1rem;
    /* Adjust based on your layout */
}

/* You may need to adjust the max-width for the balloon if the username label is added */
.message .nes-balloon {
    max-width: 68%;
    /* Adjust the max-width accordingly */
}

.user-joined-message {
    text-align: center;
    color: grey; /* Optional: style as needed */
    /* Add any other styling you require */
}


.message-pop-in {
    animation: popIn 0.2s ease-out;
}


@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



/* Modal styling */
#nameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

/* Form styling */
.name-form {
    display: flex;
    flex-direction: column;
}

.nes-field.is-inline {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts space between input and button */
}

.nes-input {
    flex-grow: 1; /* Fill the remaining space */
}

/* Adjustments for smaller screens can be made using a media query if necessary */
@media (max-width: 600px) {
    .nes-field.is-inline {
        flex-direction: column;
        align-items: stretch; /* Stretch the button to the width of the container */
        max-width: 98%;
    }

    #nameModal {
        width: 90%; /* Full width for smaller screens */
        max-width: 400px; /* Limit the width for larger screens */
    }

    .name-label,
    .nes-input,
    .nes-btn {
        width: 100%;
        margin-bottom: 10px; /* Add space between elements */
    }

    .nes-btn {
        margin-top: 10px; /* Add some space above the button */
    }

    .nes-input {
        margin-bottom: 0; /* Remove the margin below the input */
    }

    .user-joined-message {
        font-size: 0.75rem;
    }

    .message .nes-balloon {
        max-width: 100%;
        font-size: 0.75rem;
    }

    .message-other .sender-username {
        margin-left: 0;
    }

    .message-other .nes-balloon {
        max-width: 100%;
    }

}





#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}


.info-button {
    position: fixed;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
    /* z index */
    z-index: 1000;

}

.info-button img {
    width: 30px;
    height: auto;
}

@media (max-width: 600px) {
    .info-button {
        top: 5px;
        right: 5px;
    }

    .info-button img {
        width: 20px;
    }
}

.legal-links-container {
    text-align: center;
    padding: 20px;
}

.nes-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Spacing on top of the button */
.close-btn {
    margin-top: 20px;
}

/* Smaller font for mobile */
@media (max-width: 600px) {
    .nes-dialog {
        width: 90%; /* Full width for smaller screens */
        max-width: 400px; /* Limit the width for larger screens */
    }
    .nes-dialog {
        font-size: 0.75rem;
    }

}


.message-photo {
    display: block; /* Replaces inline display for images */
    max-width: 90%; /* Sets the maximum width to 90% of its parent */
    max-height: 200px; /* Sets a maximum height */
    margin: 10px auto; /* Centers the image in the balloon */
    object-fit: contain; /* Ensures the aspect ratio is maintained without cropping */
    border-radius: 15px; /* Rounds the corners of the image */
    image-rendering: pixelated; /* Applies the pixelated effect */

}



#photoButton {
    height: auto; /* This will maintain the aspect ratio */
    width: auto; /* This will maintain the aspect ratio */
    max-height: 61px; /* Replace with the actual height of your NES.css buttons */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover effects */
}

#photoButton:hover {
    transform: scale(1.1); /* Slightly scale the image up */
  }

@media (max-width: 600px) {
    #photoButton {
        display: none;
    }
}