<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Basic Info -->
  <title>8bitChat</title>
  <meta name="description" content="8bitChat is a free, open-source chat application.">

  <!-- Open Graph / Facebook Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://8-bit.xyz/" />
  <meta property="og:title" content="8bitChat" />
  <meta property="og:description" content="8bitChat is a free, open-source chat application." />
  <meta property="og:image"
    content="https://raw.githubusercontent.com/jexxme/8bitChat/f45cba3a60fbd4571498b3d2359102f962933a07/docs/logo.png" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://8-bit.xyz/" />
  <meta name="twitter:title" content="8bitChat" />
  <meta name="twitter:description" content="8bitChat is a free, open-source chat application." />
  <meta name="twitter:image"
    content="https://raw.githubusercontent.com/jexxme/8bitChat/f45cba3a60fbd4571498b3d2359102f962933a07/docs/logo.png" />

  <!-- Include css/nes.min.css -->
  <link href="{{ url_for('static', filename='css/nes.min.css') }}" rel="stylesheet" />
  <!-- Include custom.css -->
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
  <!-- Include Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
</head>

<body data-pop-sound-url="{{ url_for('static', filename='pop.mp3') }}">
  <!-- Music Control Buttons -->
  <div id="musicControlContainer" class="music-control-container">
    <button id="playPauseButton" class="music-button" onclick="togglePlayPause()">
      <img src="{{ url_for('static', filename='images/music.png') }}" alt="Play/Pause">
    </button>
    <button id="skipButton" class="music-button" onclick="skipTrack()">
      <img src="{{ url_for('static', filename='images/next.png') }}" alt="Skip">
    </button>
</div>


  <!-- Audio Player -->
  <audio id="audioPlayer" loop></audio>





  <button id="infoButton" class="info-button">
    <img id="infoButtonImg" src="{{ url_for('static', filename='images/info.png') }}" alt="Info">
  </button>
  <header class="nes-container is-centered">
    <img class="logo" src="{{ url_for('static', filename='images/200w.gif') }}" alt="Logo">
    <h2 id="heading">8bitChat</h2>
    <div id="user-count" class="nes-text is-primary">Users online: 0</div>
    <div id="username-display" class="nes-text is-primary">Username: <span id="username"></span></div>
  </header>


  <section class="nes-container chat-room">
    <div id="messages" class="message-container">
      <!-- Messages will go here -->
    </div>
    <div class="nes-field is-inline">
      <input type="text" id="message-input" class="nes-input" placeholder="Type a message..." />
      <img id="photoButton" src="{{ url_for('static', filename='images/photo.svg') }}" class="send-button nes-pointer"
        alt="Send Photo" onclick="sendPhoto()">
      <button type="button" class="nes-btn is-primary send-button" onclick="sendMessage()">Send</button>
    </div>
  </section>

  <input type="file" id="photoInput" accept="image/*" style="display: none;" onchange="uploadPhoto()">

  <div id="overlay" style="display: none;"></div>

  <div id="nameModal" class="nes-dialog" style="display:none;">
    <form id="nameForm" class="name-form">
      <label for="nameInput" class="name-label">Please enter your name:</label>
      <div class="nes-field is-inline">
        <input type="text" id="nameInput" class="nes-input" required>
        <button type="submit" class="nes-btn is-primary">Let's go!</button>
      </div>
    </form>
  </div>

  <!-- Legal Links Modal -->
  <div id="legalModal" class="nes-dialog" style="display:none;">
    <div class="legal-links-container">
      <h3>8bitChat</h3>
      <p>Version 0.0.2</p>
      <p>8bitChat is a free, open-source chat application.</p>
      <p>8bitChat is not responsible for any content posted by users.</p>
      <p>8bitChat does not log any usernames or messages.</p>
      <p>Hell, 8bitChat doesn't even have a database.</p>
      <a href="https://github.com/jexxme/8bitChat">
        <i class="nes-icon github"></i>
      </a>
      <h3 style="margin-top: 20px;">Settings</h3>
      <label>
        <input type="radio" class="nes-radio" name="muteToggle" id="unmute" checked />
        <span>Unmute</span>
      </label>
      <label>
        <input type="radio" class="nes-radio" name="muteToggle" id="mute" />
        <span>Mute</span>
      </label>
      <h3 style="margin-top: 20px;">Legal Links</h3>
      <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
      <br>
      <a href="/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a>
      <br>
      <button id="closeModal" class="nes-btn is-primary close-btn">Close</button>
    </div>
  </div>

</body>

<script type="text/javascript">
  // Define your tracks array with 'url_for' in an HTML file processed by Flask
  const tracks = [
    "{{ url_for('static', filename='music/kim-lightyear-just-a-dream-wake-up-153991.mp3') }}",
    "{{ url_for('static', filename='music/8-bit-background-music-for-arcade-game-come-on-mario-164702.mp3') }}",
    "{{ url_for('static', filename='music/chiptune-grooving-142242.mp3') }}",
    "{{ url_for('static', filename='music/man-is-he-mega-glbml-22045.mp3') }}",
    "{{ url_for('static', filename='music/sinnesloschen-beam-117362.mp3') }}"
  ];
</script>

<!-- Include Socket.IO JavaScript Library -->
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
  integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>

<!-- Include JavaScript Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>

<!-- Schemas -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "SoftwareApplication",
    "name": "8bitChat",
    "description": "8bitChat is a free, open-source chat application.",
    "url": "https://8-bit.xyz/",
    "applicationCategory": "SocialNetworking",
    "downloadUrl": "https://8-bit.xyz/",
    "softwareVersion": "1.0",
    "operatingSystem": "Any",
  }
  </script>


</html>