<!DOCTYPE html>
<html>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_key }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ google_analytics_key }}');
</script>
<!-- End Google Analytics -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8bitChat</title>
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- Include static/press-start-2p.ttf -->
    <link href="https://fonts.cdnfonts.com/css/press-start-2p" rel="stylesheet">
    <!-- Include Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

</head>

<body>
    <header>
        <h1>Privacy Policy for 8bitChat</h1>
        <p>Effective Date: 01.01.2024</p>
    </header>

    <section>
        <h2>1. Data Collection</h2>
        <section>
            <h3>1.1 Chat Messages and User Logins</h3>
            <p>We do not log any chat messages or user logins. 8bitChat is designed to respect your privacy, and we do not store any personal data related to your conversations or login credentials.</p>
        </section>
        <section>
            <h3>1.2 Google Analytics</h3>
            <p>We use Google Analytics to collect non-personalized, aggregated data about how users interact with our website. This information helps us understand how users engage with 8bitChat, but it does not contain personally identifiable information.</p>
        </section>
        <section>
            <h3>1.3 CDNs</h3>
            <p>We use Content Delivery Networks (CDNs) to deliver assets and resources for a faster and more reliable user experience. The CDNs we use are:</p>
            <ul>
                <li>nes.css CDN: We use the nes.css library from the unpkg.com CDN to provide styling for 8bitChat.</li>
                <li>Press-Start-2p CDN: We use the Press-Start-2p font from fonts.cdnfonts.com to enhance the visual appearance of 8bitChat.</li>
            </ul>
        </section>
    </section>

    <section>
        <h2>2. Data Usage</h2>
        <section>
            <h3>2.1 Chat Messages and User Logins</h3>
            <p>As mentioned earlier, we do not log or store any chat messages or user logins. Your conversations remain private and are not accessible to us or any third parties.</p>
        </section>
        <section>
            <h3>2.2 Google Analytics</h3>
            <p>The data collected through Google Analytics is used solely for the purpose of improving our website's performance and user experience. This data is anonymous and does not identify individual users.</p>
        </section>
    </section>

    <section>
        <h2>3. Cookies</h2>
        <p>We do not use cookies to track your activities on 8bitChat. However, third-party services like Google Analytics may use cookies as part of their data collection process. Please refer to Google's Privacy Policy for more information about their use of cookies.</p>
    </section>

    <section>
        <h2>4. Third-Party Links</h2>
        <p>8bitChat may contain links to third-party websites or services. We are not responsible for the privacy practices or content of these third-party sites. We encourage you to review the privacy policies of any external websites you visit through 8bitChat.</p>
    </section>

    <section>
        <h2>5. Your Choices</h2>
        <p>You have the following choices regarding your data:</p>
        <ul>
            <li>Opting Out of Google Analytics: If you wish to prevent Google Analytics from collecting your data, you can install the Google Analytics Opt-Out Browser Add-on provided by Google.</li>
        </ul>
    </section>

    <section>
        <h2>6. Data Security</h2>
        <p>We take data security seriously and implement reasonable measures to protect your information. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure. While we strive to protect your data, we cannot guarantee its absolute security.</p>
    </section>

    <section>
        <h2>7. Changes to this Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes by posting the updated Privacy Policy on the 8bitChat website or through other communication channels.</p>
    </section>

    <section>
        <h2>8. Contact Us</h2>
        <p>If you have any questions or concerns about this Privacy Policy or the data practices of 8bitChat, please contact us at Jexxme@github.</p>
    </section>

    <footer>
        <p>Copyright &copy; 2024 8bitChat. All rights reserved.</p>

        <div class="legal-links">
            <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a> |
            <a href="/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a>
        </div>
    </footer>
    <style>
        
    </style>

</body>
</html>